.ag-theme-alpine {
  --ag-borders: none;
  --ag-background-color: transparent;
  --ag-row-border-style: none;
  --ag-header-background-color: #efefef;
  --ag-row-height: 50px;
  --ag-font-size: 1rem;
  --ag-border-radius: 5px;
  --ag-font-size: 14px;
  --ag-font-family: 'Segoe UI';
  width: 100%;
  .ag-header {
    box-shadow: 1px 1px 0px 1px rgb(233 233 233 / 60%);
    border-radius: var(--ag-border-radius);
    margin-bottom: 0.5rem;
  }
  .ag-center-cols-container {
    // width: 100% !important;
  }
  .ag-row {
    border-radius: var(--ag-border-radius);
    background-color: #fff;
    box-shadow: 1px 1px 0px 1px rgb(233 233 233 / 60%);
  }
  .ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #030229;
    font-weight: 400;
  }
    .ag-cell {
      --ag-internal-padded-row-height: fit-content;
      display: flex;
      align-items: center;
    }
}
