
.filter-datepicker {
  border-color: hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 6px;
  border-width: 1px;
}

.gap-10 {
  gap: 10px;
}

.top-search {
  width: 217px;
  height: 38px;
}

.form-label {
  font-size: 14px;
  font-weight: 400;
}

.checkbox-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.error-message {
  color: red;
}

.width120 {
  width: 120px
}

.viewall-table {
  width: 73%;
}

.viewall-table .date {
  width: 30%;
}

.nav-stepper{
  border-bottom: 1px solid;
  border-color: #DBDCDC;
  .nav-link{
    transition: border-bottom 0.3s ease;
  }
  .nav-link.active-link{
    border-bottom: 2px solid #293991;
    color: #293991;
  }
  .nav-link.inactive-link{
    color: #C9C9C9;
  }
}

.profile-img{
  width: "150px";
  height: "150px";
  border-radius: 100px;
}
