.add-agents {
	font-family: 'Segoe UI';

	.add-agents-header {
		font-size: 16px;
		font-weight: 600;
	}
	.add-agents-subheader{
		font-size: 32px;
		font-weight: 600;
	}
	.add-form{
		font-size: 12px;
		font-weight: 400;
		gap: 10px;

	}
	.edit-buttons{
		width: 150px;
		border-radius: 1px;
}
}
