.login-card {
  @media (min-width: 992px) and (max-width: 1200px) {
    min-width: 400px;
    max-width: 400px;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    min-width: 500px;
    max-width: 500px;
    div {
      max-width: 380px;
    }
  }
  @media (min-width: 1400px) {
    min-width: 650px;
    max-width: 650px;
    div {
      max-width: 380px;
    }
  }

  input {
    background: #f7f7f8 !important;
    height: 54px;
  }
  .btn {
    background: #283891;
  }
  .btn-sso {
    background-color: #eaf7fc;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    color: #030229;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-top: 1px;
    }
  }
}

.main-card {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-datepicker {
  border-color: hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 6px;
  border-width: 1px;
}

.gap-10 {
  gap: 10px;
}

.top-search {
  width: 217px;
  height: 38px;
}

.form-label {
  font-size: 14px;
  font-weight: 400;
}

.checkbox-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.error-message {
  color: red;
}

.width120 {
  width: 120px;
}

.viewall-table {
  width: 73%;
}

.viewall-table .date {
  width: 30%;
}

.nav-stepper {
  border-bottom: 1px solid;
  border-color: #dbdcdc;
  .nav-link {
    transition: border-bottom 0.3s ease;
  }
  .nav-link.active-link {
    border-bottom: 2px solid #293991;
    color: #293991;
  }
  .nav-link.inactive-link {
    color: #c9c9c9;
  }
}

.profile-img {
  width: "150px";
  height: "150px";
  border-radius: 100px;
}

.dash {
  height: 3px;
  width: 50px;
  background-color: #eaeaf0;
}

.dropzone-div {
  border: 1px dashed #dee2e6;
  border-radius: 10px;
  height: 150px;
}
.docs-table {
  .actions {
    width: 100px;
  }
  img {
    cursor: pointer;
    margin-left: 8px;
  }
}
.docs-table.header {
  background: #d9d9d9;
}

.client-nav-active {
  border-bottom: 2px solid #293991;
  transition: border-bottom 0.3s ease;
  color: #293991;
  cursor: pointer;
}
.client-nav-inactive {
  border-bottom: none;
  transition: border-bottom 0.3s ease;
  color: #c9c9c9;
  cursor: pointer;
}
.img-div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-div-30 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  background: #fff url("../../assets/myIcons/search.svg") no-repeat 11px;
  background-size: 20px;
  padding-left: 40px;
}

.z-index-999 {
  z-index: 999;
}
