.login-card {
  @media (min-width: 992px) and (max-width: 1200px) {
    min-width: 400px;
    max-width: 400px;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    min-width: 500px;
    max-width: 500px;
    div {
      max-width: 380px;
    }
  }
  @media (min-width: 1400px) {
    min-width: 650px;
    max-width: 650px;
    div {
      max-width: 380px;
    }
  }
  input::placeholder {
    color: #c9c9c9 !important;
  }
  input {
    background: #f7f7f8 !important;
  }
  .btn {
    background: #283891;
  }
  .btn-sso {
    background-color: #eaf7fc;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    color: #030229;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-top: 1px;
    }
  }
}

.main-card {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
