html {
  height: 100vh;
}
body,
#__next {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.button-props {
  background-color: #00aeef;
  color: #ffffff;
  font-size: "35px";
}
.client-card-bg {
  background-color: #e7efff;
}
.project-card-bg {
  background-color: #e7efff;
}
.cardheader-text {
  color: #030229;
  font-size: 18px;
  font-weight: 600;
}
.font-size-32 {
  font-size: 32px;
}

.bold-text {
  font-weight: bold;
  font-size: 16px;
}

.italic-text {
  font-style: italic;
}

p {
  margin: 0;
}
input {
  border: 2px solid #c9c9c9;
}
input:focus {
  // border: #dee2e6 !important;
  box-shadow: none !important;
}
textarea:focus {
  // border: #dee2e6 !important;
  box-shadow: none !important;
}

/*
    Custom Styles
**/
.cursor-pointer:hover {
  cursor: pointer;
}
.tenantteamforgotpass {
  color: #030229;
  font-weight: 400 !important;
  line-height: 13px !important;
  letter-spacing: -0.5px !important;
  text-align: center !important;
  cursor: pointer;
  font-size: 16px !important;
  text-decoration: none !important;
}
div.error-message {
  width: 320px;
  background: #ffe0e0;
  color: #cd0000;
  border-radius: 5px;
  padding: 3px 9px;
}

.teamworkspaceformpassword::placeholder {
  font-weight: 400 !important;
  line-height: 17px !important;
  letter-spacing: -0.5px !important;
  color: #c9c9c9 !important;
}
.teamworkspaceformpassword {
  background: #f7f7f8 !important;
  color: #030229 !important;
}
.teamworkspaceplaceholder::placeholder {
  font-weight: 400 !important;
  line-height: 17px !important;
  letter-spacing: -0.5px !important;
  color: #c9c9c9 !important;
}
.teamworkspaceplaceholder {
  // border: none;
  background: #f7f7f8 !important;
  // color: #030229 !important;
}
.teamworkspaceplaceholder1 {
  // border: none;
  // background: #E9E9E9 !important;
  color: black !important;
}
.teamworkspaceplaceholder1::placeholder {
  font-weight: 400 !important;
  line-height: 17px !important;
  letter-spacing: -0.5px !important;
  color: #030229 !important;
}

.intuitive {
  color: #ffffff;
  font-size: 40px !important;
  line-height: 43px !important;
  letter-spacing: 3px;
}

.entertainment {
  font-weight: 700 !important;
  color: #ffffff;
  font-size: 44px !important;
  letter-spacing: 2px !important;
  line-height: 47px !important;
}
.software {
  color: #ffffff;
  font-size: 41px !important;
  letter-spacing: 3px !important;
  line-height: 43px !important;
  font-weight: 300 !important;
}

// index page -login
.main-container-i {
  width: 100vw;
  height: 100vh;
}
.tenanterror-icon {
  position: relative;
  float: right;
  bottom: 36px;
  right: 15px;
  background: transparent;
  color: #626873;
}
.tenanterror-icon-fpwd {
  position: relative;
  float: right;
  bottom: 30px;
  right: 15px;
  background: transparent;
  color: #626873;
}
.email-text {
  font-size: 16px;
  font-weight: 400;
}

.bg-tenantsignup {
  background: #283891;
}
.welcome-text {
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
}
.custom-badge {
  font-size: 0.9rem;
  height: fit-content;
  width: fit-content;
  padding: 0.4rem;
}

.custom-badge.success {
  background-color: #e7fee1;
  color: #00c708;
}

.custom-badge.danger {
  color: #be0f0f;
  background-color: #fee1e3;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00aeef;
  --bs-btn-border-color: #00aeef;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #26afb8;
  --bs-btn-hover-border-color: #00aeef;
  --bs-btn-focus-shadow-rgb: 0, 137, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00aeef;
  --bs-btn-active-border-color: #00aeef;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00aeef;
  --bs-btn-disabled-border-color: #00aeef;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00aeef;
  --bs-btn-border-color: #00aeef;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00aeef;
  --bs-btn-hover-border-color: #00aeef;
  --bs-btn-focus-shadow-rgb: 0, 137, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00aeef;
  --bs-btn-active-border-color: #00aeef;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00aeef;
  --bs-btn-disabled-border-color: #00aeef;
}

.form-check-input:checked {
  background-color: #00aeef !important;
  border-color: #00aeef !important;
}

.hrline {
  margin: auto;
  color: #c1c1c1;
}

.custom-radio-input {
  /* Set the color you want for the radio button */
  color: #000;
}

.custom-radio-input:checked::before {
  /* Set the color of the dot when the radio button is checked */
  background-color: #000;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  border-top: 1.001px solid #d7d7d7;
}

/// !!!CAUTION!!! Dont Remove this (Ag Grid Table Header Text Styling)
.custom-header-class {
  font-size: 14px;
  font-weight: 400;
}

.ag-theme-alpine .ag-row {
  border-bottom: 2px solid #d9d9d9 !important;
}

// Card match height
.match-height {
  > [class*="col"] {
    display: flex;
    flex-flow: column;

    > .card {
      flex: 1 1 auto;
    }
  }
}

/* Add this to your CSS */
.custom-modal {
  height: 215px;
  width: 342px;
}

.form-lable-font {
  font-size: 16px;
}
.form-label{
  span.required{
    color: #ff0000;
  }
}
input::placeholder {
  color: #c9c9c9 !important;
}

.custom-datepicker {
  height: 30px;
}
.custom-vendor-popup {
  width: 603px;
  height: 484px;
}
.reseTpassword {
  max-width: 100%;
  height: auto;
}
.resetPassword1 {
  height: 54px;
  color: #626873;
}
.reseTpassword3 {
  width: 380px;
  height: 54px;
  background: #283891;
  border: #00aeef;
  border-radius: 12px;
  font-size: 16px;
}
.reseTpassword4 {
  margin-top: "50px";
  font-size: 12px;
  color: #656472;
}
.reseTpassword5 {
  font-size: 12px;
  color: #030229;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 90px;
}
.reseTpassword6 {
  font-size: 12px;
  color: #030229;
}
.resetPassword7 {
  font-size: 12px;
  color: #030229;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 100px;
}
.forgotScreen {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  margin-left: -400px;
  margin-top: 300px;
}
.disabled-link {
  color: #00c708;
  /* Set the desired color for disabled links */
  pointer-events: none;
  /* Disable pointer events to make the link unclickable */
}

.css-16xfy0z-control {
  background-color: #e9ecef !important;
  border-color: #e9ecef !important;
}

.css-11lnwvs-control {
  background-color: #e9ecef !important;
  border-color: #e9ecef !important;
}
.forgotScreen1 {
  max-width: 100%;
  height: auto;
}

.forgotScreen2 {
  width: 380px;
  height: 54px;
}
.forgotScreen2 {
  width: 380px;
  height: 55px;
  background: #283891;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  font-size: 16px;
}
.forgotScreen3 {
  text-decoration: none;
  color: #030229;
  font-size: 16px;
}

.configuration-table{
  .title{
    font-weight: 600;
    font-family: "Segoe UI Semibold";
  }
}

.configuration-add{
  .title-head{
    font-weight: 600;
    font-family: "Segoe UI";
    font-size: 1rem;
  }
  .title{
    font-weight: 600;
    font-family: "Segoe UI";
    font-size: 2rem;
  }
}