// Bootstrap Override
@import "bootstrap/dist/css/bootstrap.min.css";

@import "./scss/bootstrap.override.scss";
@import "react-toastify/dist/ReactToastify.css";

// Custom Styles
@import "./scss/buttons";
@import "./scss/grids";
@import "./scss/typography";

// AG Grid
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "./scss/_aggrid.scss";
@import "./scss/sidebar";

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/segoe-ui/Segoe\ UI.woff') format('woff2'),
    url('../fonts/segoe-ui/Segoe\ UI.woff') format('woff');
  font-style: normal;
  /* Normal style */
  font-weight: normal;
  /* Normal weight */
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts//segoe-ui/Segoe\ UI\ Bold.woff') format('woff2'),
    url('../fonts/segoe-ui/Segoe\ UI\ Bold.woff') format('woff');
  font-style: normal;
  /* Normal style */
  font-weight: bold;
  /* Bold weight */
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts//segoe-ui/Segoe\ UI\ Italic.woff') format('woff2'),
    url('../fonts/segoe-ui/Segoe\ UI\ Bold\ Italic.woff') format('woff');
  font-style: italic;
  /* Italic style */
  font-weight: normal;
  /* Normal weight */
}



.button-props{
    background-color: #00AEEF;
    color: #FFFFFF;
    font-size: "35px";
}
.client-card-bg{
    background-color: #E7EFFF;
}
.cardheader-text{
    color: #030229;
    font-size:18px;
    font-weight: 600;
}
.font-size-32{
    font-size: 32px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bold-text {
  font-weight: bold;
  font-size: 16px;
}

.italic-text {
  font-style: italic;
}

p {
  margin: 0;
}
input{
  border: 2px solid #C9C9C9;
}
input:focus{
  // border: #dee2e6 !important;
  box-shadow: none !important;
}
textarea:focus{
  // border: #dee2e6 !important;
  box-shadow: none !important;
}

/*
    Custom Styles
**/
.cursor-pointer:hover {
  cursor: pointer;
}
.tenantteamforgotpass {
  color: #030229;
  ;
  font-weight: 400 !important;
  line-height: 13px !important;
  letter-spacing: -0.5px !important;
  text-align: center !important;
  cursor: pointer;
  font-size: 16px !important;
  text-decoration:none !important;

}
div.error-message {
  width: 320px;
  background: #ffe0e0;
  color: #cd0000;
  border-radius: 5px;
  padding: 3px 9px;
}

.teamworkspaceformpassword::placeholder {
  font-weight: 400 !important;
  line-height: 17px !important;
  letter-spacing: -0.5px !important;
  color: #c9c9c9 !important;
}
.teamworkspaceformpassword{
  background: #F7F7F8 !important;
  color: #030229 !important;

}
.teamworkspaceplaceholder::placeholder {
  font-weight: 400 !important;
  line-height: 17px !important;
  letter-spacing: -0.5px !important;
  color: #c9c9c9 !important;

}
.teamworkspaceplaceholder{
  // border: none;
  background: #F7F7F8 !important;
  // color: #030229 !important;

}
.teamworkspaceplaceholder1{
  // border: none;
  // background: #E9E9E9 !important;
  color: black !important;

}
.teamworkspaceplaceholder1::placeholder {
  font-weight: 400 !important;
  line-height: 17px !important;
  letter-spacing: -0.5px !important;
  color: #030229 !important;

}

.intutive{
color: #FFFFFF;
font-size: 31px !important;
line-height: 43px !important;
letter-spacing: 3px;

}

.entertainment{
font-weight: 700 !important;
color: #FFFFFF;
font-size: 34px !important;
letter-spacing: 2px !important;
line-height: 47px !important;

}
.software{
color: #FFFFFF;
font-size: 31px !important;
letter-spacing: 3px !important;
line-height: 43px !important;
font-weight: 300 !important;

}

// index page -login
.main-container-i {
  width: 100vw;
  height: 100vh;
}
.tenanterror-icon {
  position: relative;
  float: right;
  bottom: 29px;
  right: 15px;
  background: transparent;
  color: #626873;
}
.tenanterror-icon-fpwd {
  position: relative;
  float: right;
  bottom: 30px;
  right: 15px;
  background: transparent;
  color: #626873;
}
.email-text{
  font-size: 16px;
  font-weight: 400;
}

.bg-tenantsignup {
  background: #283891;
}
.welcome-text{
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
}
.custom-badge {
  font-size: 0.9rem;
  height: fit-content;
  width: fit-content;
  padding: 0.4rem;
}

.custom-badge.success {
  background-color: #e7fee1;
  color: #00c708;
}

.custom-badge.danger {
  color: #BE0F0F;
  background-color: #FEE1E3;
}

input.search {
  width: 260px;
  height: "38px";
  display: block;
  padding: 9px 4px 9px 40px;
  background: #fff url("../assets/myIcons/search.svg") no-repeat 11px;
  background-size: 20px;
  border-radius: 10.141px;
  border: 2.535px solid #ECECEC;
  margin-right: 10px;

}

input.searchConfig {
  width: 260px;
    height: "38px";
  display: block;
  padding: 9px 4px 9px 40px;
  background: #fff url("../assets/myIcons/search.svg") no-repeat 11px;
  background-size: 20px;
  
  border-radius: 4.006px;
  border: 1.001px solid #ECECEC; 
  margin-right: 10px;

}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00AEEF;
  --bs-btn-border-color: #00AEEF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #26afb8;
  --bs-btn-hover-border-color: #00AEEF;
  --bs-btn-focus-shadow-rgb: 0, 137, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00AEEF;
  --bs-btn-active-border-color: #00AEEF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00AEEF;
  --bs-btn-disabled-border-color: #00AEEF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00AEEF;
  --bs-btn-border-color: #00AEEF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00AEEF;
  --bs-btn-hover-border-color: #00AEEF;
  --bs-btn-focus-shadow-rgb: 0, 137, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00AEEF;
  --bs-btn-active-border-color: #00AEEF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00AEEF;
  --bs-btn-disabled-border-color: #00AEEF;
}

.form-check-input:checked {
  background-color: #00AEEF !important;
  border-color: #00AEEF !important;
}

.hrline {
  margin: auto;
  color: #C1C1C1;
}

.custom-radio-input {
  /* Set the color you want for the radio button */
  color: #000;
}


.custom-radio-input:checked::before {
  /* Set the color of the dot when the radio button is checked */
  background-color: #000;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  border-top: 1.001px solid #D7D7D7;
}

/// !!!CAUTION!!! Dont Remove this (Ag Grid Table Header Text Styling)
.custom-header-class {
  font-size: 14px; 
  font-weight: 400; 
}

.ag-theme-alpine .ag-row{

  border-bottom: 2px solid #D9D9D9 !important;
}

// Card match height
.match-height {
  > [class*='col'] {
    display: flex;
    flex-flow: column;

    > .card {
      flex: 1 1 auto;
    }
  }
}


/* Add this to your CSS */
.custom-modal {
  height: 215px;
  width: 342px;
}

.form-lable-font{
  font-size: 16px;
}
input::placeholder {
  color: #C9C9C9 !important;
}


.custom-datepicker {
  height: 30px
}



/* Add this CSS in your stylesheet or style block */

.selected-options-count {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

/* Additional styling for the select field */
.react-select-container {
  width: 200px; /* Adjust the width as needed */
}

.react-select__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Adjust the styles for other parts of the select as needed */
